<h2 class="m-1 mb-4 text-center">Product List</h2>

<hr>

{{!-- //search by named filter --}}
<form method="POST" action="/products/search" class="m-3">

    <div class="row">
        <div class="col-4 mb-3">
            <label for="Select" class="form-label">Filter by:</label>
            <select id="Select" name="filter" class="form-select">
                <option value="name">Name</option>
                <option value="ref">Reference</option>
                <option value="category">Category</option>
                <option value="manufacturer">Manufacturer</option>
            </select>
        </div>
        <div class="col-8 mb-3">
            <label for="TextInput" class="form-label">Input</label>
            <input type="text" id="textInput" name="input" class="form-control" placeholder="Search input">
        </div>

    </div>

    <div class="row">
        <div class="col mb-4">
            <label for="stock-select" class="form-label">Stock Number:</label>
            <select id="stock-select" name="stockFilter" class="form-select">
                <option value="gte">Greater or equal to</option>
                <option value="gt">Greater than</option>
                <option value="lte">Lesser or equal to</option>
                <option value="lte">Lesser than</option>
            </select>
        </div>
        <div class="col mb-2">
            <label for="stock-input" class="form-label">Input</label>
            <input type="number" id="stock-input" name="stockInput" class="form-control" placeholder="">
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <label for="location-input" class="form-label">Row</label>
            <input type="number" id="row-input" name="row" class="form-control" placeholder="">
        </div>
        <div class="col mb-3">
            <label for="location-input" class="form-label">Lane</label>
            <input type="number" id="lane-input" name="lane" class="form-control" placeholder="">
        </div>
        <div class="col mb-3">
            <label for="location-input" class="form-label">Shelf</label>
            <input type="number" id="shelf-input" name="shelf" class="form-control" placeholder="">
        </div>
    </div>

    <div class="row">
        <div class="col d-flex align-items-center">
            <div class=" col text-center align-items-center">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>

    </div>



</form>
<hr class="mt-4 mb-3">
<div class="row">
    <div class="col text-center">
        <button onclick="window.location.href='/products/list'" class="btn btn-primary btn">All Products</button>
    </div>
    <div class="col text-center">
        <button onclick="window.location.href='/products/create'" class="btn btn-primary btn">Create
            Product</button>
    </div>
</div>

{{#if listOfProducts}}
<table class="table p-4 mt-4">
    <thead class="thead-dark">
        <tr>
            <th class="align-middle" scope="col"></th>
            <th class="align-middle" style="white-space: nowrap;" scope="col">#</th>
            <th class="align-middle" style="white-space: nowrap;" scope="col">Name
                {{sortingButtons 'name'}}
            </th>
            <th class="align-middle" style="white-space: nowrap;" scope="col">P.ref.
                {{sortingButtons 'ref'}}
            </th>
            <th class="align-middle" style="white-space: nowrap;" scope="col">Stock
                {{sortingButtons 'stock'}}
            </th>
            <th class="align-middle text-center" style="white-space: nowrap;" scope="col">Img</th>
            <th class="align-middle" style="white-space: nowrap;" scope="col">Row
                {{sortingButtons 'location.row'}}
            </th>
            <th class="align-middle" style="white-space: nowrap;" scope="col">Lane
                {{sortingButtons 'location.lane'}}
            </th>
            <th class="align-middle" style="white-space: nowrap;" scope="col">Shelf
                {{sortingButtons 'location.shelf'}}
            </th>
            <th class="align-middle" style="white-space: nowrap;" scope="col">Cat.
                {{sortingButtons 'category'}}
            </th>
            <th class="align-middle" style="white-space: nowrap;" scope="col">Manufacturer
                {{sortingButtons 'manufacturer'}}
            </th>

        </tr>
    </thead>
    <tbody>
        {{#each listOfProducts}}
        <tr>
            <td class="align-middle"><button onclick="window.location.href='/products/{{this.id}}/edit'"
                    class="btn btn-primary">Edit</button>
            </td>
            <th scope="row" class="align-middle">{{increment @index}}</th> {{!--to show increment list from
            handlebars.js --}}
            <td class="align-middle"><a class="card-link" href="/products/{{this.id}}">{{this.name}}</a></td>
            <td class="align-middle">{{this.ref}}</td>
            <td class="align-middle p-3">{{this.stock}}</td>
            {{#if this.image}}
            <td class="align-middle text-center">

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-light" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop{{this.id}}">
                    <div style="width: 50px; height: 50px; overflow: hidden;">
                        <img style="object-fit: cover; width: 100%; height: 100%;" class="card img-fluid "
                            src="{{this.image}}" alt="Product image">
                    </div>
                </button>

                {{!-- Modal --}}
                <div class="modal fade text-center" id="staticBackdrop{{this.id}}" data-bs-backdrop="static"
                    data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog .modal-dialog-centered">
                        <div style="width: 500px; height: 500px; overflow: hidden;" class="modal-content">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            {{!-- <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                            </div> --}}
                            <div class="modal-body pt-0" style="width: 500px; height: 500px; overflow: hidden;">
                                <img style="object-fit: cover; width: 100%; height: 100%;" class="card img-fluid "
                                    src="{{this.image}}" alt="Product image">
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            {{else}}
            <td class="align-middle text-center">

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-light" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop{{this.id}}">
                    <div style="width: 50px; height: 50px; overflow: hidden;">
                        <img style="object-fit: cover; width: 100%; height: 100%;" class="card img-fluid "
                            src="{{this.image}}" alt="Product image">
                    </div>
                </button>

                {{!-- Modal --}}
                <div class="modal fade text-center" id="staticBackdrop{{this.id}}" data-bs-backdrop="static"
                    data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog .modal-dialog-centered">
                        <div style="width: 500px; height: 500px; overflow: hidden;" class="modal-content">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            {{!-- <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                            </div> --}}
                            <div class="modal-body pt-0" style="width: 500px; height: 500px; overflow: hidden;">
                                <img style="object-fit: cover; width: 100%; height: 100%;" class="card img-fluid "
                                    src="/images/no-image.jpg" alt="Product image">
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            {{/if}}
            <td class="align-middle  p-3">{{this.location.row}}</td>
            <td class="align-middle  p-3">{{this.location.lane}}</td>
            <td class="align-middle  p-3">{{this.location.shelf}}</td>
            <td class="align-middle">{{this.category}}</td>
            <td class="align-middle">{{this.manufacturer}}</td>

        </tr>
        {{/each}}
    </tbody>
</table>
<div class="m-2 "><a onclick="window.location.href='#top'" class="text-primary">Go To Top</a></div>
{{else}}
<table class="table p-4">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Stock</th>
            <th scope="col">Img</th>
            <th scope="col">Row</th>
            <th scope="col">Lane</th>
            <th scope="col">Shelf</th>
            <th scope="col">Category</th>
            <th scope="col">Manufacturer</th>

        </tr>
    </thead>

</table>
<div class="col-12 text-center">No product</div>
<hr>

{{/if}}