<h1 class="m-1">Products List</h1>


<form method="POST" action="/products/search" class="m-3">
    {{!-- <fieldset>
        <legend>Filter and search</legend> --}}
        <div class="row">
            <div class="col-6 mb-3">
                <label for="TextInput" class="form-label">Input</label>
                <input type="text" id="textInput" name="input" class="form-control" placeholder="Search input">
            </div>
            <div class="col-6 mb-3">
                <label for="Select" class="form-label">Filter by:</label>
                <select id="Select" name="filter" class="form-select">
                    <option value="name">Name</option>
                    <option value="ref">Reference</option>
                    <option value="stock">Stock</option>
                    <option value="category">Category</option>
                    <option value="Manufacturer">Manufacturer</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
</form>


{{#if listOfProducts}}
<table class="table p-4 ">
    <thead class="thead-dark ">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Prod. Ref.</th>
            <th scope="col">Stock</th>
            <th scope="col">Img</th>
            <th scope="col">Row</th>
            <th scope="col">Lane</th>
            <th scope="col">Shelf</th>
            <th scope="col">Category</th>
            <th scope="col">Key words</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Edit</th>

        </tr>
    </thead>
    <tbody>
        {{#each listOfProducts}}
        <tr>
            <th scope="row" class="align-middle">{{increment @index}}</th> {{!--to show increment list --}}
            <td class="align-middle"><a class="card-link" href="/products/{{this.id}}">{{this.name}}</a></td>
            <td class="align-middle">{{this.ref}}</td>
            <td class="align-middle">{{this.stock}}</td>
            {{#if this.image}}
            <td class="align-middle"><img style="width: 30px; height: auto;" class="img-thumbnail" src="{{this.image}}"
                    alt="no image"></td>
            {{else}}
            <td class="align-middle"><img style="width: 30px; height: auto;" class="img-thumbnail" src="/images/no-image.jpg"
                    alt="no image"></td>
            {{/if}}
            <td class="align-middle">{{this.location.row}}</td>
            <td class="align-middle">{{this.location.lane}}</td>
            <td class="align-middle">{{this.location.shelf}}</td>
            <td class="align-middle">{{this.category}}</td>
            <td class="align-middle">{{this.keywords}}</td>
            <td class="align-middle">{{this.manufacturer}}</td>
            <td class="align-middle"><button onclick="window.location.href='/products/{{this.id}}/edit'"
                    class="btn btn-primary btn-sm">Edit</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<button onclick="window.location.href='/products/create'" class="m-3 btn btn-primary btn-sm">Create New Product</button>
{{else}}
<table class="table p-4">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Stock</th>
            <th scope="col">Img</th>
            <th scope="col">Row</th>
            <th scope="col">Lane</th>
            <th scope="col">Shelf</th>
            <th scope="col">Category</th>
            <th scope="col">Key words</th>
            <th scope="col">manufacturer</th>

        </tr>
    </thead>

</table>
<div class="col-12 text-center">No product</div>
<hr>
<button onclick="window.location.href='/products/create'" class="m-3 btn btn-primary btn-sm">Create New Product</button>
{{/if}}