<h2>Product Details</h2>
<div class="m-5 card" style="width: 25rem;">
    <img class="card-img-top" src="{{productToView.image}}" alt="No image">
    <div class="card-body">
        <h5 class="card-title">{{productToView.name}}</h5>
        <p class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Product Reference: {{productToView.ref}} </li>
                <li class="list-group-item">Stock: {{productToView.stock}} </li>
                <li class="list-group-item">Location: row {{productToView.location.row}} - lane {{productToView.location.lane}} - shelf {{productToView.location.lane}}</li>
                <li class="list-group-item">Category: {{productToView.category}} </li>
                <li class="list-group-item">Manufacturer: {{productToView.manufacturer}} </li>
                <li class="list-group-item">Key words: {{productToView.keywords}} </li>

            </ul>
        </p>
        <p class="text-center">
        <a href="/products/list" class="btn btn-primary col-3">Back</a>
        <a href="/products/{{productToView.id}}/edit" class="btn btn-primary col-3">Edit</a>
        <a href="/products/{{productToView.id}}/delete" class="btn btn-danger col-3">Delete</a>
        </p>


    </div>
</div>