<h2 class="m-1 mb-4 text-center">User List</h2>

<hr class="mb-4">

<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Department</th>
            <th scope="col">Location</th>
            <th scope="col">Telephone</th>

        </tr>
    </thead>
    <tbody>
        {{#each userList}}
        <tr>
            <td>
                <button onclick="window.location.href='/users/edit/{{this._id}}'" class="btn btn-primary">Edit</button>

            </td>
            <td>{{this.fullName.firstName}} {{this.fullName.lastName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.department}} ({{this.role}})</td>
            <td>{{this.location}}</td>
            <td>{{this.telephone}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div class="m-2 "><a onclick="window.location.href='#top'" class="text-primary">Go To Top</a></div>